<div class="containerxl">
  <div class="row">
  <img src="assets/Header2.jpeg" style="width:100%;">

  <p class="top">Join the millions of music lovers who use Reverb to find everything the need to make music </p>
  <h1 class="heading">Find Your Dream Gear.</h1>

  <div class="row">
    <div class="search-bar col-6">
      <input type="search" width="100px" class="form-control rounded" placeholder="Search the Marketplace..."
        aria-label="Search" aria-describedby="search-addon" />
      

        <div class="col-1">
        
        </div>
  
    </div>
  </div>
</div>
</div>