/* Container holding the image and the text */
.container-fluid {
    height: 200px;
    text-align: center;
    color: white;
  }

  
  /* Find Dream Gear */
  .heading {
    position: absolute;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    right: 40px;
    top: 300px;
    left: 60px;

  }
  
  /* Join */
  .top {
    position: fixed;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70%;
    top: 250px;
    left: 65px;
  }

  .search-bar{
      position: fixed;
      top: 400px;
      left: 60px;
      padding-right: 2px;
  }
  
 