
<app-top-nav-bar>Loading...</app-top-nav-bar>

<app-sec-nav-bar>Loading...</app-sec-nav-bar>

<div class="contiainer-fluid">
<app-marketplace-search>Loading...</app-marketplace-search>
</div>

<div class="contiainer-fluid d-flex">
    <app-vertical-cards class="mx-2" img="/assets/microcosm.png" description="Hologram Electronics Microcosm" price="$459" condition="Brand New">Loading...</app-vertical-cards>
    <app-vertical-cards class="mx-3" img="/assets/fender-super-reverb.jpeg" description="1974 Vintage Fender Super Reverb" price="$1800" condition="Used-Very Good">Loading...</app-vertical-cards>
</div>


   


<app-footer>Loading...</app-footer>
