<nav class="navbar navbar-expand-sm bg-white navbar-white">
  <div class="container-fluid">
    
    <a class="navbar-brand" href="#">
      <img src="./assets/reverb.jpeg" width=100px>
      <i class="bi bi-cart"></i>
    </a>

    <div class="input-group">
      <input class="form-control border-end-0" type="text" placeholder="Shop for new and used music gear..." id="example-search-input">
      <span class="input-group-append">
          <button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3" type="button">
              <i class="fa fa-search"></i>
          </button>
          <button type="button" class="btn btn-outline-dark">Sell Your Gear</button>
          <button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3" type="button">
            <i class="bi bi-cart"></i>
        </button>
      </span>
</div>
<i class="bi bi-arrow-left-circle-fill"></i>
  </div>
</nav>