<div class="container-fluid">
    <div class="row">

        <div class="container-fluid">
            <div class="row-1">
                <div class="d-flex justify-content-center">
                    <img src="assets/empty-basket.png">
                </div>
            </div>




            <div class="container-fluid">
                <div class="row-2">
                    <div class="d-flex justify-content-center">
                        <h1>Your cart is empty. Start Browsing!</h1>
                    </div>
                </div>
            </div>

            <div class="container-fluid d flex">
                <div class="row-3">
                    <div class="d-flex justify-content-evenly">
                        <a routerLink="gear-categories">
                            <button class="button">View Categories</button>
                        </a>

                        <button class="button">View Handpicked</button>
                    </div>
                </div>



            </div>
        </div>
    </div>