
<div class="contiainer-fluid">
<app-marketplace-search>Loading...</app-marketplace-search>
</div>

<div class="contiainer-fluid d-flex">
    <div *ngFor="let category of categories">
        <app-horizontal-cards 
        img = {{category.img}}
        title = {{category.title}}
        description={{category.description}}
        >
    Loading...
    </app-horizontal-cards>
    </div>
</div>




<h1>Recently Viewed</h1>

<div class="contiainer-fluid d-flex">
    <div *ngFor="let product of products">
        <app-vertical-cards class="card mb-3" 
        img = {{product.img}}
        description={{product.description}}
        [price] ='product.price'
        condition={{product.condition}}>
    Loading...
    </app-vertical-cards>
    </div>
</div>



   



 